--
-- PostgreSQL database dump
--

\restrict uYFcaaq8gW0jCjWG0WLlOVpC4aCcWTHm3kfQmF5Ec6ywiV6J9qAYF2cqTsd1ZfA

-- Dumped from database version 16.12 (Debian 16.12-1.pgdg13+1)
-- Dumped by pg_dump version 16.12 (Debian 16.12-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: betformula; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA betformula;


ALTER SCHEMA betformula OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: circuit; Type: TABLE; Schema: betformula; Owner: postgres
--

CREATE TABLE betformula.circuit (
    id_circuit integer NOT NULL,
    nom_circuit character varying(100),
    id_ville integer
);


ALTER TABLE betformula.circuit OWNER TO postgres;

--
-- Name: circuit_id_circuit_seq; Type: SEQUENCE; Schema: betformula; Owner: postgres
--

CREATE SEQUENCE betformula.circuit_id_circuit_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE betformula.circuit_id_circuit_seq OWNER TO postgres;

--
-- Name: circuit_id_circuit_seq; Type: SEQUENCE OWNED BY; Schema: betformula; Owner: postgres
--

ALTER SEQUENCE betformula.circuit_id_circuit_seq OWNED BY betformula.circuit.id_circuit;


--
-- Name: course; Type: TABLE; Schema: betformula; Owner: postgres
--

CREATE TABLE betformula.course (
    id_course integer NOT NULL,
    nom_course character varying(100),
    date_course date,
    id_evenement integer
);


ALTER TABLE betformula.course OWNER TO postgres;

--
-- Name: course_id_course_seq; Type: SEQUENCE; Schema: betformula; Owner: postgres
--

CREATE SEQUENCE betformula.course_id_course_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE betformula.course_id_course_seq OWNER TO postgres;

--
-- Name: course_id_course_seq; Type: SEQUENCE OWNED BY; Schema: betformula; Owner: postgres
--

ALTER SEQUENCE betformula.course_id_course_seq OWNED BY betformula.course.id_course;


--
-- Name: equipe; Type: TABLE; Schema: betformula; Owner: postgres
--

CREATE TABLE betformula.equipe (
    id_equipe integer NOT NULL,
    nom_equipe character varying(100),
    id_sponsor integer
);


ALTER TABLE betformula.equipe OWNER TO postgres;

--
-- Name: equipe_id_equipe_seq; Type: SEQUENCE; Schema: betformula; Owner: postgres
--

CREATE SEQUENCE betformula.equipe_id_equipe_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE betformula.equipe_id_equipe_seq OWNER TO postgres;

--
-- Name: equipe_id_equipe_seq; Type: SEQUENCE OWNED BY; Schema: betformula; Owner: postgres
--

ALTER SEQUENCE betformula.equipe_id_equipe_seq OWNED BY betformula.equipe.id_equipe;


--
-- Name: evenement; Type: TABLE; Schema: betformula; Owner: postgres
--

CREATE TABLE betformula.evenement (
    id_evenement integer NOT NULL,
    nom_evenement character varying(100),
    date_evenement date,
    id_circuit integer
);


ALTER TABLE betformula.evenement OWNER TO postgres;

--
-- Name: evenement_id_evenement_seq; Type: SEQUENCE; Schema: betformula; Owner: postgres
--

CREATE SEQUENCE betformula.evenement_id_evenement_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE betformula.evenement_id_evenement_seq OWNER TO postgres;

--
-- Name: evenement_id_evenement_seq; Type: SEQUENCE OWNED BY; Schema: betformula; Owner: postgres
--

ALTER SEQUENCE betformula.evenement_id_evenement_seq OWNED BY betformula.evenement.id_evenement;


--
-- Name: pari; Type: TABLE; Schema: betformula; Owner: postgres
--

CREATE TABLE betformula.pari (
    id_pari integer NOT NULL,
    id_user integer,
    id_course integer,
    id_pilote integer,
    montant numeric(10,2),
    resultat character varying(50)
);


ALTER TABLE betformula.pari OWNER TO postgres;

--
-- Name: pari_id_pari_seq; Type: SEQUENCE; Schema: betformula; Owner: postgres
--

CREATE SEQUENCE betformula.pari_id_pari_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE betformula.pari_id_pari_seq OWNER TO postgres;

--
-- Name: pari_id_pari_seq; Type: SEQUENCE OWNED BY; Schema: betformula; Owner: postgres
--

ALTER SEQUENCE betformula.pari_id_pari_seq OWNED BY betformula.pari.id_pari;


--
-- Name: pilote; Type: TABLE; Schema: betformula; Owner: postgres
--

CREATE TABLE betformula.pilote (
    id_pilote integer NOT NULL,
    nom_pilote character varying(100),
    id_equipe integer
);


ALTER TABLE betformula.pilote OWNER TO postgres;

--
-- Name: pilote_id_pilote_seq; Type: SEQUENCE; Schema: betformula; Owner: postgres
--

CREATE SEQUENCE betformula.pilote_id_pilote_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE betformula.pilote_id_pilote_seq OWNER TO postgres;

--
-- Name: pilote_id_pilote_seq; Type: SEQUENCE OWNED BY; Schema: betformula; Owner: postgres
--

ALTER SEQUENCE betformula.pilote_id_pilote_seq OWNED BY betformula.pilote.id_pilote;


--
-- Name: sponsor; Type: TABLE; Schema: betformula; Owner: postgres
--

CREATE TABLE betformula.sponsor (
    id_sponsor integer NOT NULL,
    nom_sponsor character varying(100)
);


ALTER TABLE betformula.sponsor OWNER TO postgres;

--
-- Name: sponsor_id_sponsor_seq; Type: SEQUENCE; Schema: betformula; Owner: postgres
--

CREATE SEQUENCE betformula.sponsor_id_sponsor_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE betformula.sponsor_id_sponsor_seq OWNER TO postgres;

--
-- Name: sponsor_id_sponsor_seq; Type: SEQUENCE OWNED BY; Schema: betformula; Owner: postgres
--

ALTER SEQUENCE betformula.sponsor_id_sponsor_seq OWNED BY betformula.sponsor.id_sponsor;


--
-- Name: utilisateur; Type: TABLE; Schema: betformula; Owner: postgres
--

CREATE TABLE betformula.utilisateur (
    id_user integer NOT NULL,
    nom character varying(100),
    email character varying(150) NOT NULL,
    id_ville integer
);


ALTER TABLE betformula.utilisateur OWNER TO postgres;

--
-- Name: utilisateur_id_user_seq; Type: SEQUENCE; Schema: betformula; Owner: postgres
--

CREATE SEQUENCE betformula.utilisateur_id_user_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE betformula.utilisateur_id_user_seq OWNER TO postgres;

--
-- Name: utilisateur_id_user_seq; Type: SEQUENCE OWNED BY; Schema: betformula; Owner: postgres
--

ALTER SEQUENCE betformula.utilisateur_id_user_seq OWNED BY betformula.utilisateur.id_user;


--
-- Name: ville; Type: TABLE; Schema: betformula; Owner: postgres
--

CREATE TABLE betformula.ville (
    id_ville integer NOT NULL,
    nom_ville character varying(100),
    code_postal character varying(20)
);


ALTER TABLE betformula.ville OWNER TO postgres;

--
-- Name: ville_id_ville_seq; Type: SEQUENCE; Schema: betformula; Owner: postgres
--

CREATE SEQUENCE betformula.ville_id_ville_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE betformula.ville_id_ville_seq OWNER TO postgres;

--
-- Name: ville_id_ville_seq; Type: SEQUENCE OWNED BY; Schema: betformula; Owner: postgres
--

ALTER SEQUENCE betformula.ville_id_ville_seq OWNED BY betformula.ville.id_ville;


--
-- Name: circuit id_circuit; Type: DEFAULT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.circuit ALTER COLUMN id_circuit SET DEFAULT nextval('betformula.circuit_id_circuit_seq'::regclass);


--
-- Name: course id_course; Type: DEFAULT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.course ALTER COLUMN id_course SET DEFAULT nextval('betformula.course_id_course_seq'::regclass);


--
-- Name: equipe id_equipe; Type: DEFAULT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.equipe ALTER COLUMN id_equipe SET DEFAULT nextval('betformula.equipe_id_equipe_seq'::regclass);


--
-- Name: evenement id_evenement; Type: DEFAULT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.evenement ALTER COLUMN id_evenement SET DEFAULT nextval('betformula.evenement_id_evenement_seq'::regclass);


--
-- Name: pari id_pari; Type: DEFAULT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.pari ALTER COLUMN id_pari SET DEFAULT nextval('betformula.pari_id_pari_seq'::regclass);


--
-- Name: pilote id_pilote; Type: DEFAULT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.pilote ALTER COLUMN id_pilote SET DEFAULT nextval('betformula.pilote_id_pilote_seq'::regclass);


--
-- Name: sponsor id_sponsor; Type: DEFAULT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.sponsor ALTER COLUMN id_sponsor SET DEFAULT nextval('betformula.sponsor_id_sponsor_seq'::regclass);


--
-- Name: utilisateur id_user; Type: DEFAULT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.utilisateur ALTER COLUMN id_user SET DEFAULT nextval('betformula.utilisateur_id_user_seq'::regclass);


--
-- Name: ville id_ville; Type: DEFAULT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.ville ALTER COLUMN id_ville SET DEFAULT nextval('betformula.ville_id_ville_seq'::regclass);


--
-- Data for Name: circuit; Type: TABLE DATA; Schema: betformula; Owner: postgres
--

COPY betformula.circuit (id_circuit, nom_circuit, id_ville) FROM stdin;
1	Circuit Gilles Villeneuve	1
2	Circuit de Toronto	2
3	Circuit de Vancouver	3
4	Circuit de Monaco	4
5	Silverstone	5
6	Hockenheim	6
7	Monza	7
8	Circuit de Barcelone	8
9	Monza2	9
10	Spa-Francorchamps	10
\.


--
-- Data for Name: course; Type: TABLE DATA; Schema: betformula; Owner: postgres
--

COPY betformula.course (id_course, nom_course, date_course, id_evenement) FROM stdin;
1	Course 1	2026-06-15	1
2	Course 2	2026-07-10	2
3	Course 3	2026-08-20	3
4	Course 4	2026-05-25	4
5	Course 5	2026-06-30	5
6	Course 6	2026-07-20	6
7	Course 7	2026-09-05	7
8	Course 8	2026-06-12	8
9	Course 9	2026-07-15	9
10	Course 10	2026-08-22	10
\.


--
-- Data for Name: equipe; Type: TABLE DATA; Schema: betformula; Owner: postgres
--

COPY betformula.equipe (id_equipe, nom_equipe, id_sponsor) FROM stdin;
1	Equipe RedBull	1
2	Equipe Mercedes	2
3	Equipe Ferrari	3
4	Equipe McLaren	4
5	Equipe Alpine	5
6	Equipe Haas	6
7	Equipe AlphaTauri	7
8	Equipe AstonMartin	8
9	Equipe Williams	9
10	Equipe Renault	10
\.


--
-- Data for Name: evenement; Type: TABLE DATA; Schema: betformula; Owner: postgres
--

COPY betformula.evenement (id_evenement, nom_evenement, date_evenement, id_circuit) FROM stdin;
1	Grand Prix Canada	2026-06-15	1
2	Grand Prix Toronto	2026-07-10	2
3	Grand Prix Vancouver	2026-08-20	3
4	Grand Prix Monaco	2026-05-25	4
5	Grand Prix Angleterre	2026-06-30	5
6	Grand Prix Allemagne	2026-07-20	6
7	Grand Prix Italie	2026-09-05	7
8	Grand Prix Espagne	2026-06-12	8
9	Grand Prix Milan	2026-07-15	9
10	Grand Prix Belgique	2026-08-22	10
\.


--
-- Data for Name: pari; Type: TABLE DATA; Schema: betformula; Owner: postgres
--

COPY betformula.pari (id_pari, id_user, id_course, id_pilote, montant, resultat) FROM stdin;
1	1	1	1	100.00	Gagn├®
2	2	2	2	50.00	Perdu
3	3	3	3	75.50	Gagn├®
4	4	4	4	200.00	Perdu
5	5	5	5	125.25	Gagn├®
6	6	6	6	60.00	Perdu
7	7	7	7	80.00	Gagn├®
8	8	8	8	90.00	Perdu
9	9	9	9	110.00	Gagn├®
10	10	10	10	150.00	Perdu
\.


--
-- Data for Name: pilote; Type: TABLE DATA; Schema: betformula; Owner: postgres
--

COPY betformula.pilote (id_pilote, nom_pilote, id_equipe) FROM stdin;
1	Max Verstappen	1
2	Lewis Hamilton	2
3	Charles Leclerc	3
4	Lando Norris	4
5	Esteban Ocon	5
6	Kevin Magnussen	6
7	Pierre Gasly	7
8	Sebastian Vettel	8
9	George Russell	9
10	Fernando Alonso	10
\.


--
-- Data for Name: sponsor; Type: TABLE DATA; Schema: betformula; Owner: postgres
--

COPY betformula.sponsor (id_sponsor, nom_sponsor) FROM stdin;
1	RedBull
2	Mercedes
3	Ferrari
4	McLaren
5	Alpine
6	Haas
7	AlphaTauri
8	AstonMartin
9	Williams
10	Renault
\.


--
-- Data for Name: utilisateur; Type: TABLE DATA; Schema: betformula; Owner: postgres
--

COPY betformula.utilisateur (id_user, nom, email, id_ville) FROM stdin;
1	Alice Dupont	alice@example.com	1
2	Bob Martin	bob@example.com	2
3	Charlie Lemoine	charlie@example.com	3
4	David Moreau	david@example.com	4
5	Emma Leroy	emma@example.com	5
6	Fran├ºois Petit	francois@example.com	6
7	Gabriel Rousseau	gabriel@example.com	7
8	H├®l├¿ne Dubois	helene@example.com	8
9	Isabelle Caron	isabelle@example.com	9
10	Julien Lefebvre	julien@example.com	10
\.


--
-- Data for Name: ville; Type: TABLE DATA; Schema: betformula; Owner: postgres
--

COPY betformula.ville (id_ville, nom_ville, code_postal) FROM stdin;
1	Montr├®al	H2X 1Y4
2	Toronto	M5V 2T6
3	Vancouver	V6B 3L6
4	Paris	75001
5	Londres	SW1A 1AA
6	Berlin	10115
7	Rome	00100
8	Madrid	28001
9	Milan	20121
10	Bruxelles	1000
\.


--
-- Name: circuit_id_circuit_seq; Type: SEQUENCE SET; Schema: betformula; Owner: postgres
--

SELECT pg_catalog.setval('betformula.circuit_id_circuit_seq', 10, true);


--
-- Name: course_id_course_seq; Type: SEQUENCE SET; Schema: betformula; Owner: postgres
--

SELECT pg_catalog.setval('betformula.course_id_course_seq', 10, true);


--
-- Name: equipe_id_equipe_seq; Type: SEQUENCE SET; Schema: betformula; Owner: postgres
--

SELECT pg_catalog.setval('betformula.equipe_id_equipe_seq', 10, true);


--
-- Name: evenement_id_evenement_seq; Type: SEQUENCE SET; Schema: betformula; Owner: postgres
--

SELECT pg_catalog.setval('betformula.evenement_id_evenement_seq', 10, true);


--
-- Name: pari_id_pari_seq; Type: SEQUENCE SET; Schema: betformula; Owner: postgres
--

SELECT pg_catalog.setval('betformula.pari_id_pari_seq', 10, true);


--
-- Name: pilote_id_pilote_seq; Type: SEQUENCE SET; Schema: betformula; Owner: postgres
--

SELECT pg_catalog.setval('betformula.pilote_id_pilote_seq', 10, true);


--
-- Name: sponsor_id_sponsor_seq; Type: SEQUENCE SET; Schema: betformula; Owner: postgres
--

SELECT pg_catalog.setval('betformula.sponsor_id_sponsor_seq', 10, true);


--
-- Name: utilisateur_id_user_seq; Type: SEQUENCE SET; Schema: betformula; Owner: postgres
--

SELECT pg_catalog.setval('betformula.utilisateur_id_user_seq', 10, true);


--
-- Name: ville_id_ville_seq; Type: SEQUENCE SET; Schema: betformula; Owner: postgres
--

SELECT pg_catalog.setval('betformula.ville_id_ville_seq', 10, true);


--
-- Name: circuit circuit_pkey; Type: CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.circuit
    ADD CONSTRAINT circuit_pkey PRIMARY KEY (id_circuit);


--
-- Name: course course_pkey; Type: CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.course
    ADD CONSTRAINT course_pkey PRIMARY KEY (id_course);


--
-- Name: equipe equipe_pkey; Type: CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.equipe
    ADD CONSTRAINT equipe_pkey PRIMARY KEY (id_equipe);


--
-- Name: evenement evenement_pkey; Type: CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.evenement
    ADD CONSTRAINT evenement_pkey PRIMARY KEY (id_evenement);


--
-- Name: pari pari_pkey; Type: CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.pari
    ADD CONSTRAINT pari_pkey PRIMARY KEY (id_pari);


--
-- Name: pilote pilote_pkey; Type: CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.pilote
    ADD CONSTRAINT pilote_pkey PRIMARY KEY (id_pilote);


--
-- Name: sponsor sponsor_pkey; Type: CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.sponsor
    ADD CONSTRAINT sponsor_pkey PRIMARY KEY (id_sponsor);


--
-- Name: utilisateur utilisateur_email_key; Type: CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.utilisateur
    ADD CONSTRAINT utilisateur_email_key UNIQUE (email);


--
-- Name: utilisateur utilisateur_pkey; Type: CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.utilisateur
    ADD CONSTRAINT utilisateur_pkey PRIMARY KEY (id_user);


--
-- Name: ville ville_pkey; Type: CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.ville
    ADD CONSTRAINT ville_pkey PRIMARY KEY (id_ville);


--
-- Name: idx_course_evenement; Type: INDEX; Schema: betformula; Owner: postgres
--

CREATE INDEX idx_course_evenement ON betformula.course USING btree (id_evenement);


--
-- Name: idx_pari_course; Type: INDEX; Schema: betformula; Owner: postgres
--

CREATE INDEX idx_pari_course ON betformula.pari USING btree (id_course);


--
-- Name: idx_pari_pilote; Type: INDEX; Schema: betformula; Owner: postgres
--

CREATE INDEX idx_pari_pilote ON betformula.pari USING btree (id_pilote);


--
-- Name: idx_pari_user; Type: INDEX; Schema: betformula; Owner: postgres
--

CREATE INDEX idx_pari_user ON betformula.pari USING btree (id_user);


--
-- Name: idx_pilote_equipe; Type: INDEX; Schema: betformula; Owner: postgres
--

CREATE INDEX idx_pilote_equipe ON betformula.pilote USING btree (id_equipe);


--
-- Name: idx_user_email; Type: INDEX; Schema: betformula; Owner: postgres
--

CREATE INDEX idx_user_email ON betformula.utilisateur USING btree (email);


--
-- Name: circuit circuit_id_ville_fkey; Type: FK CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.circuit
    ADD CONSTRAINT circuit_id_ville_fkey FOREIGN KEY (id_ville) REFERENCES betformula.ville(id_ville);


--
-- Name: course course_id_evenement_fkey; Type: FK CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.course
    ADD CONSTRAINT course_id_evenement_fkey FOREIGN KEY (id_evenement) REFERENCES betformula.evenement(id_evenement);


--
-- Name: equipe equipe_id_sponsor_fkey; Type: FK CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.equipe
    ADD CONSTRAINT equipe_id_sponsor_fkey FOREIGN KEY (id_sponsor) REFERENCES betformula.sponsor(id_sponsor);


--
-- Name: evenement evenement_id_circuit_fkey; Type: FK CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.evenement
    ADD CONSTRAINT evenement_id_circuit_fkey FOREIGN KEY (id_circuit) REFERENCES betformula.circuit(id_circuit);


--
-- Name: pari pari_id_course_fkey; Type: FK CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.pari
    ADD CONSTRAINT pari_id_course_fkey FOREIGN KEY (id_course) REFERENCES betformula.course(id_course);


--
-- Name: pari pari_id_pilote_fkey; Type: FK CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.pari
    ADD CONSTRAINT pari_id_pilote_fkey FOREIGN KEY (id_pilote) REFERENCES betformula.pilote(id_pilote);


--
-- Name: pari pari_id_user_fkey; Type: FK CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.pari
    ADD CONSTRAINT pari_id_user_fkey FOREIGN KEY (id_user) REFERENCES betformula.utilisateur(id_user);


--
-- Name: pilote pilote_id_equipe_fkey; Type: FK CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.pilote
    ADD CONSTRAINT pilote_id_equipe_fkey FOREIGN KEY (id_equipe) REFERENCES betformula.equipe(id_equipe);


--
-- Name: utilisateur utilisateur_id_ville_fkey; Type: FK CONSTRAINT; Schema: betformula; Owner: postgres
--

ALTER TABLE ONLY betformula.utilisateur
    ADD CONSTRAINT utilisateur_id_ville_fkey FOREIGN KEY (id_ville) REFERENCES betformula.ville(id_ville);


--
-- PostgreSQL database dump complete
--

\unrestrict uYFcaaq8gW0jCjWG0WLlOVpC4aCcWTHm3kfQmF5Ec6ywiV6J9qAYF2cqTsd1ZfA

