--
-- PostgreSQL database dump
--

\restrict 1IEhmqecsFyTJTpEHCo35Cpyesqc1f1zq3oZQxpsOQVZX70M8YCqs0Ayh52MubD

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: cargorent; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA cargorent;


ALTER SCHEMA cargorent OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agence; Type: TABLE; Schema: cargorent; Owner: postgres
--

CREATE TABLE cargorent.agence (
    id_agence integer NOT NULL,
    nom text,
    ville text,
    adresse text
);


ALTER TABLE cargorent.agence OWNER TO postgres;

--
-- Name: agence_id_agence_seq; Type: SEQUENCE; Schema: cargorent; Owner: postgres
--

CREATE SEQUENCE cargorent.agence_id_agence_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cargorent.agence_id_agence_seq OWNER TO postgres;

--
-- Name: agence_id_agence_seq; Type: SEQUENCE OWNED BY; Schema: cargorent; Owner: postgres
--

ALTER SEQUENCE cargorent.agence_id_agence_seq OWNED BY cargorent.agence.id_agence;


--
-- Name: categorie; Type: TABLE; Schema: cargorent; Owner: postgres
--

CREATE TABLE cargorent.categorie (
    id_categorie integer NOT NULL,
    nom text,
    prix_jour numeric
);


ALTER TABLE cargorent.categorie OWNER TO postgres;

--
-- Name: categorie_id_categorie_seq; Type: SEQUENCE; Schema: cargorent; Owner: postgres
--

CREATE SEQUENCE cargorent.categorie_id_categorie_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cargorent.categorie_id_categorie_seq OWNER TO postgres;

--
-- Name: categorie_id_categorie_seq; Type: SEQUENCE OWNED BY; Schema: cargorent; Owner: postgres
--

ALTER SEQUENCE cargorent.categorie_id_categorie_seq OWNED BY cargorent.categorie.id_categorie;


--
-- Name: client; Type: TABLE; Schema: cargorent; Owner: postgres
--

CREATE TABLE cargorent.client (
    id_client integer NOT NULL,
    nom text,
    prenom text,
    telephone text,
    email text,
    numero_permis text
);


ALTER TABLE cargorent.client OWNER TO postgres;

--
-- Name: client_id_client_seq; Type: SEQUENCE; Schema: cargorent; Owner: postgres
--

CREATE SEQUENCE cargorent.client_id_client_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cargorent.client_id_client_seq OWNER TO postgres;

--
-- Name: client_id_client_seq; Type: SEQUENCE OWNED BY; Schema: cargorent; Owner: postgres
--

ALTER SEQUENCE cargorent.client_id_client_seq OWNED BY cargorent.client.id_client;


--
-- Name: contrat_location; Type: TABLE; Schema: cargorent; Owner: postgres
--

CREATE TABLE cargorent.contrat_location (
    id_contrat integer NOT NULL,
    date_debut date,
    date_fin date,
    km_depart integer,
    id_reservation integer,
    id_employe integer
);


ALTER TABLE cargorent.contrat_location OWNER TO postgres;

--
-- Name: contrat_location_id_contrat_seq; Type: SEQUENCE; Schema: cargorent; Owner: postgres
--

CREATE SEQUENCE cargorent.contrat_location_id_contrat_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cargorent.contrat_location_id_contrat_seq OWNER TO postgres;

--
-- Name: contrat_location_id_contrat_seq; Type: SEQUENCE OWNED BY; Schema: cargorent; Owner: postgres
--

ALTER SEQUENCE cargorent.contrat_location_id_contrat_seq OWNED BY cargorent.contrat_location.id_contrat;


--
-- Name: employe; Type: TABLE; Schema: cargorent; Owner: postgres
--

CREATE TABLE cargorent.employe (
    id_employe integer NOT NULL,
    nom text,
    prenom text,
    poste text,
    id_agence integer
);


ALTER TABLE cargorent.employe OWNER TO postgres;

--
-- Name: employe_id_employe_seq; Type: SEQUENCE; Schema: cargorent; Owner: postgres
--

CREATE SEQUENCE cargorent.employe_id_employe_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cargorent.employe_id_employe_seq OWNER TO postgres;

--
-- Name: employe_id_employe_seq; Type: SEQUENCE OWNED BY; Schema: cargorent; Owner: postgres
--

ALTER SEQUENCE cargorent.employe_id_employe_seq OWNED BY cargorent.employe.id_employe;


--
-- Name: paiement; Type: TABLE; Schema: cargorent; Owner: postgres
--

CREATE TABLE cargorent.paiement (
    id_paiement integer NOT NULL,
    montant numeric,
    date_paiement date,
    mode text,
    id_contrat integer
);


ALTER TABLE cargorent.paiement OWNER TO postgres;

--
-- Name: paiement_id_paiement_seq; Type: SEQUENCE; Schema: cargorent; Owner: postgres
--

CREATE SEQUENCE cargorent.paiement_id_paiement_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cargorent.paiement_id_paiement_seq OWNER TO postgres;

--
-- Name: paiement_id_paiement_seq; Type: SEQUENCE OWNED BY; Schema: cargorent; Owner: postgres
--

ALTER SEQUENCE cargorent.paiement_id_paiement_seq OWNED BY cargorent.paiement.id_paiement;


--
-- Name: reservation; Type: TABLE; Schema: cargorent; Owner: postgres
--

CREATE TABLE cargorent.reservation (
    id_reservation integer NOT NULL,
    date_debut date,
    date_fin date,
    statut text,
    id_client integer,
    id_voiture integer
);


ALTER TABLE cargorent.reservation OWNER TO postgres;

--
-- Name: reservation_id_reservation_seq; Type: SEQUENCE; Schema: cargorent; Owner: postgres
--

CREATE SEQUENCE cargorent.reservation_id_reservation_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cargorent.reservation_id_reservation_seq OWNER TO postgres;

--
-- Name: reservation_id_reservation_seq; Type: SEQUENCE OWNED BY; Schema: cargorent; Owner: postgres
--

ALTER SEQUENCE cargorent.reservation_id_reservation_seq OWNED BY cargorent.reservation.id_reservation;


--
-- Name: voiture; Type: TABLE; Schema: cargorent; Owner: postgres
--

CREATE TABLE cargorent.voiture (
    id_voiture integer NOT NULL,
    marque text,
    modele text,
    annee integer,
    plaque text,
    kilometrage integer,
    id_categorie integer,
    id_agence integer
);


ALTER TABLE cargorent.voiture OWNER TO postgres;

--
-- Name: voiture_id_voiture_seq; Type: SEQUENCE; Schema: cargorent; Owner: postgres
--

CREATE SEQUENCE cargorent.voiture_id_voiture_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE cargorent.voiture_id_voiture_seq OWNER TO postgres;

--
-- Name: voiture_id_voiture_seq; Type: SEQUENCE OWNED BY; Schema: cargorent; Owner: postgres
--

ALTER SEQUENCE cargorent.voiture_id_voiture_seq OWNED BY cargorent.voiture.id_voiture;


--
-- Name: agence id_agence; Type: DEFAULT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.agence ALTER COLUMN id_agence SET DEFAULT nextval('cargorent.agence_id_agence_seq'::regclass);


--
-- Name: categorie id_categorie; Type: DEFAULT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.categorie ALTER COLUMN id_categorie SET DEFAULT nextval('cargorent.categorie_id_categorie_seq'::regclass);


--
-- Name: client id_client; Type: DEFAULT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.client ALTER COLUMN id_client SET DEFAULT nextval('cargorent.client_id_client_seq'::regclass);


--
-- Name: contrat_location id_contrat; Type: DEFAULT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.contrat_location ALTER COLUMN id_contrat SET DEFAULT nextval('cargorent.contrat_location_id_contrat_seq'::regclass);


--
-- Name: employe id_employe; Type: DEFAULT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.employe ALTER COLUMN id_employe SET DEFAULT nextval('cargorent.employe_id_employe_seq'::regclass);


--
-- Name: paiement id_paiement; Type: DEFAULT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.paiement ALTER COLUMN id_paiement SET DEFAULT nextval('cargorent.paiement_id_paiement_seq'::regclass);


--
-- Name: reservation id_reservation; Type: DEFAULT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.reservation ALTER COLUMN id_reservation SET DEFAULT nextval('cargorent.reservation_id_reservation_seq'::regclass);


--
-- Name: voiture id_voiture; Type: DEFAULT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.voiture ALTER COLUMN id_voiture SET DEFAULT nextval('cargorent.voiture_id_voiture_seq'::regclass);


--
-- Data for Name: agence; Type: TABLE DATA; Schema: cargorent; Owner: postgres
--

COPY cargorent.agence (id_agence, nom, ville, adresse) FROM stdin;
1	CarGoRent Centre	Montreal	123 Rue Sainte-Catherine
2	CarGoRent Nord	Laval	456 Boulevard Cure-Labelle
\.


--
-- Data for Name: categorie; Type: TABLE DATA; Schema: cargorent; Owner: postgres
--

COPY cargorent.categorie (id_categorie, nom, prix_jour) FROM stdin;
1	Economique	45
2	SUV	80
3	Berline	65
\.


--
-- Data for Name: client; Type: TABLE DATA; Schema: cargorent; Owner: postgres
--

COPY cargorent.client (id_client, nom, prenom, telephone, email, numero_permis) FROM stdin;
1	Taki	Choufa	5141234567	taki@cargorent.com	P123456
2	Houcine	Benchaib	5141111111	houcine@cargorent.com	P999999
3	Maya	Abd	5149876543	maya@cargorent.com	P654321
\.


--
-- Data for Name: contrat_location; Type: TABLE DATA; Schema: cargorent; Owner: postgres
--

COPY cargorent.contrat_location (id_contrat, date_debut, date_fin, km_depart, id_reservation, id_employe) FROM stdin;
1	2026-04-20	2026-04-25	25000	1	1
2	2026-04-22	2026-04-24	18000	2	1
3	2026-04-26	2026-04-28	30000	3	2
\.


--
-- Data for Name: employe; Type: TABLE DATA; Schema: cargorent; Owner: postgres
--

COPY cargorent.employe (id_employe, nom, prenom, poste, id_agence) FROM stdin;
1	Lidia	Afi	Agent	1
2	Chawki	Sou	Gestionnaire	2
\.


--
-- Data for Name: paiement; Type: TABLE DATA; Schema: cargorent; Owner: postgres
--

COPY cargorent.paiement (id_paiement, montant, date_paiement, mode, id_contrat) FROM stdin;
1	225	2026-04-20	Carte	1
2	160	2026-04-22	Especes	2
3	130	2026-04-26	Carte	3
\.


--
-- Data for Name: reservation; Type: TABLE DATA; Schema: cargorent; Owner: postgres
--

COPY cargorent.reservation (id_reservation, date_debut, date_fin, statut, id_client, id_voiture) FROM stdin;
1	2026-04-20	2026-04-25	confirmee	1	1
2	2026-04-22	2026-04-24	confirmee	2	2
3	2026-04-26	2026-04-28	en attente	3	3
\.


--
-- Data for Name: voiture; Type: TABLE DATA; Schema: cargorent; Owner: postgres
--

COPY cargorent.voiture (id_voiture, marque, modele, annee, plaque, kilometrage, id_categorie, id_agence) FROM stdin;
1	Toyota	Corolla	2021	ABC123	25000	1	1
2	Honda	CRV	2022	XYZ789	18000	2	1
3	BMW	320i	2020	DEF456	30000	3	2
\.


--
-- Name: agence_id_agence_seq; Type: SEQUENCE SET; Schema: cargorent; Owner: postgres
--

SELECT pg_catalog.setval('cargorent.agence_id_agence_seq', 2, true);


--
-- Name: categorie_id_categorie_seq; Type: SEQUENCE SET; Schema: cargorent; Owner: postgres
--

SELECT pg_catalog.setval('cargorent.categorie_id_categorie_seq', 3, true);


--
-- Name: client_id_client_seq; Type: SEQUENCE SET; Schema: cargorent; Owner: postgres
--

SELECT pg_catalog.setval('cargorent.client_id_client_seq', 3, true);


--
-- Name: contrat_location_id_contrat_seq; Type: SEQUENCE SET; Schema: cargorent; Owner: postgres
--

SELECT pg_catalog.setval('cargorent.contrat_location_id_contrat_seq', 3, true);


--
-- Name: employe_id_employe_seq; Type: SEQUENCE SET; Schema: cargorent; Owner: postgres
--

SELECT pg_catalog.setval('cargorent.employe_id_employe_seq', 2, true);


--
-- Name: paiement_id_paiement_seq; Type: SEQUENCE SET; Schema: cargorent; Owner: postgres
--

SELECT pg_catalog.setval('cargorent.paiement_id_paiement_seq', 3, true);


--
-- Name: reservation_id_reservation_seq; Type: SEQUENCE SET; Schema: cargorent; Owner: postgres
--

SELECT pg_catalog.setval('cargorent.reservation_id_reservation_seq', 3, true);


--
-- Name: voiture_id_voiture_seq; Type: SEQUENCE SET; Schema: cargorent; Owner: postgres
--

SELECT pg_catalog.setval('cargorent.voiture_id_voiture_seq', 3, true);


--
-- Name: agence agence_pkey; Type: CONSTRAINT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.agence
    ADD CONSTRAINT agence_pkey PRIMARY KEY (id_agence);


--
-- Name: categorie categorie_pkey; Type: CONSTRAINT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.categorie
    ADD CONSTRAINT categorie_pkey PRIMARY KEY (id_categorie);


--
-- Name: client client_pkey; Type: CONSTRAINT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.client
    ADD CONSTRAINT client_pkey PRIMARY KEY (id_client);


--
-- Name: contrat_location contrat_location_pkey; Type: CONSTRAINT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.contrat_location
    ADD CONSTRAINT contrat_location_pkey PRIMARY KEY (id_contrat);


--
-- Name: employe employe_pkey; Type: CONSTRAINT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.employe
    ADD CONSTRAINT employe_pkey PRIMARY KEY (id_employe);


--
-- Name: paiement paiement_pkey; Type: CONSTRAINT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.paiement
    ADD CONSTRAINT paiement_pkey PRIMARY KEY (id_paiement);


--
-- Name: reservation reservation_pkey; Type: CONSTRAINT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.reservation
    ADD CONSTRAINT reservation_pkey PRIMARY KEY (id_reservation);


--
-- Name: voiture voiture_pkey; Type: CONSTRAINT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.voiture
    ADD CONSTRAINT voiture_pkey PRIMARY KEY (id_voiture);


--
-- Name: idx_client_email; Type: INDEX; Schema: cargorent; Owner: postgres
--

CREATE INDEX idx_client_email ON cargorent.client USING btree (email);


--
-- Name: idx_contrat_reservation; Type: INDEX; Schema: cargorent; Owner: postgres
--

CREATE INDEX idx_contrat_reservation ON cargorent.contrat_location USING btree (id_reservation);


--
-- Name: idx_paiement_contrat; Type: INDEX; Schema: cargorent; Owner: postgres
--

CREATE INDEX idx_paiement_contrat ON cargorent.paiement USING btree (id_contrat);


--
-- Name: idx_reservation_client; Type: INDEX; Schema: cargorent; Owner: postgres
--

CREATE INDEX idx_reservation_client ON cargorent.reservation USING btree (id_client);


--
-- Name: idx_reservation_voiture; Type: INDEX; Schema: cargorent; Owner: postgres
--

CREATE INDEX idx_reservation_voiture ON cargorent.reservation USING btree (id_voiture);


--
-- Name: idx_voiture_agence; Type: INDEX; Schema: cargorent; Owner: postgres
--

CREATE INDEX idx_voiture_agence ON cargorent.voiture USING btree (id_agence);


--
-- Name: idx_voiture_categorie; Type: INDEX; Schema: cargorent; Owner: postgres
--

CREATE INDEX idx_voiture_categorie ON cargorent.voiture USING btree (id_categorie);


--
-- Name: contrat_location contrat_location_id_employe_fkey; Type: FK CONSTRAINT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.contrat_location
    ADD CONSTRAINT contrat_location_id_employe_fkey FOREIGN KEY (id_employe) REFERENCES cargorent.employe(id_employe);


--
-- Name: contrat_location contrat_location_id_reservation_fkey; Type: FK CONSTRAINT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.contrat_location
    ADD CONSTRAINT contrat_location_id_reservation_fkey FOREIGN KEY (id_reservation) REFERENCES cargorent.reservation(id_reservation);


--
-- Name: employe employe_id_agence_fkey; Type: FK CONSTRAINT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.employe
    ADD CONSTRAINT employe_id_agence_fkey FOREIGN KEY (id_agence) REFERENCES cargorent.agence(id_agence);


--
-- Name: paiement paiement_id_contrat_fkey; Type: FK CONSTRAINT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.paiement
    ADD CONSTRAINT paiement_id_contrat_fkey FOREIGN KEY (id_contrat) REFERENCES cargorent.contrat_location(id_contrat);


--
-- Name: reservation reservation_id_client_fkey; Type: FK CONSTRAINT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.reservation
    ADD CONSTRAINT reservation_id_client_fkey FOREIGN KEY (id_client) REFERENCES cargorent.client(id_client);


--
-- Name: reservation reservation_id_voiture_fkey; Type: FK CONSTRAINT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.reservation
    ADD CONSTRAINT reservation_id_voiture_fkey FOREIGN KEY (id_voiture) REFERENCES cargorent.voiture(id_voiture);


--
-- Name: voiture voiture_id_agence_fkey; Type: FK CONSTRAINT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.voiture
    ADD CONSTRAINT voiture_id_agence_fkey FOREIGN KEY (id_agence) REFERENCES cargorent.agence(id_agence);


--
-- Name: voiture voiture_id_categorie_fkey; Type: FK CONSTRAINT; Schema: cargorent; Owner: postgres
--

ALTER TABLE ONLY cargorent.voiture
    ADD CONSTRAINT voiture_id_categorie_fkey FOREIGN KEY (id_categorie) REFERENCES cargorent.categorie(id_categorie);


--
-- PostgreSQL database dump complete
--

\unrestrict 1IEhmqecsFyTJTpEHCo35Cpyesqc1f1zq3oZQxpsOQVZX70M8YCqs0Ayh52MubD

